In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
import os
from dv import AedatFile
import matplotlib.pyplot as plt
from matplotlib import animation 
from mpl_toolkits.mplot3d import Axes3D

from sklearn.cluster import DBSCAN
import seaborn as sns

In [2]:
def read_aedat_file(path):
    with AedatFile(path) as f:
        events = np.hstack([packet for packet in f['events'].numpy()])
        timestamps, x, y, polarities = events['timestamp'], events['x'], events['y'], events['polarity']
        #event_test = events[:FRAME]
        return events

In [3]:
test = read_aedat_file('./predata/newdata.aedat4')

In [4]:
df=pd.DataFrame(test)
df

                timestamp    x    y  polarity  _p1  _p2
0        1631582148594939  207  256         0    0    0
1        1631582148594953  132  241         1    0    0
2        1631582148594967  304  141         0    0    0
3        1631582148594969   65   74         1    0    0
4        1631582148594972  114  240         1    0    0
...                   ...  ...  ...       ...  ...  ...
1381006  1631582159194696  320   35         0    0    0
1381007  1631582159194714   70   46         1    0    0
1381008  1631582159194805  101  251         1    0    0
1381009  1631582159194819  174   35         1    0    0
1381010  1631582159194936  199   55         1    0    0

[1381011 rows x 6 columns]

In [5]:
def timestamp_zeroization(events):
    temp = events['timestamp'][0]
    for i in range(0,len(events['timestamp'])):
        events['timestamp'][i]-=temp

In [6]:
timestamp_zeroization(test)
df2=pd.DataFrame(test)
df2

         timestamp    x    y  polarity  _p1  _p2
0                0  207  256         0    0    0
1               14  132  241         1    0    0
2               28  304  141         0    0    0
3               30   65   74         1    0    0
4               33  114  240         1    0    0
...            ...  ...  ...       ...  ...  ...
1381006   10599757  320   35         0    0    0
1381007   10599775   70   46         1    0    0
1381008   10599866  101  251         1    0    0
1381009   10599880  174   35         1    0    0
1381010   10599997  199   55         1    0    0

[1381011 rows x 6 columns]

In [13]:
def cut_frame(events,start_time=0,frame_size=20000):
    
    end_condition = events['timestamp'] <= start_time+frame_size
    start_condition = events['timestamp'] >= start_time

    target_df = events[end_condition & start_condition]
    return target_df

In [14]:
frame = cut_frame(df2)

In [15]:
frame

      timestamp    x    y  polarity  _p1  _p2
0             0  207  256         0    0    0
1            14  132  241         1    0    0
2            28  304  141         0    0    0
3            30   65   74         1    0    0
4            33  114  240         1    0    0
...         ...  ...  ...       ...  ...  ...
3575      19977  320   96         0    0    0
3576      19985  142  250         0    0    0
3577      19991   68   76         1    0    0
3578      19995   64   62         1    0    0
3579      19998  128  254         1    0    0

[3580 rows x 6 columns]

In [17]:
feature = df2[['x','y','timestamp','polarity']]
feature['timestamp'][0]

0

In [ ]:
eps=30
min_samples=30

model = DBSCAN(eps=eps,min_samples=min_samples)

predict = pd.DataFrame(model.fit_predict(feature))
predict.columns=['predict']

# concatenate labels to df as a new column
r = pd.concat([feature,predict],axis=1)